@import '../../assets/styles/mixins';

.home_page {
  .intro_section {
    @include flexBox($justify: center);
    height: 500px;
    background-image: linear-gradient(to right, rgba(204, 155, 79, 0.3), rgba(188, 144, 73, 0.3)),
      url('../../assets/img/intro.png');
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      font-size: 32px;
      color: #fff;
    }
  }
}
