@mixin flexBox($align: center, $justify: null, $direction: null) {
  display: flex;
  align-items: $align;
  @if ($justify) {
    justify-content: $justify;
  }
  @if ($direction) {
    flex-direction: $direction;
  }
}

@mixin flexGrow {
  flex-grow: 1;
  min-width: 0;
}
