:root {
  --color-brand: #bf9046;
  --color-brand-txt: #fff;

  --color-error: #ee0000;
  --color-warning: #eebb00;
  --color-success: #2de578;

  --color-1: #f1f1f1;
  --color-2: #f6f6f6;
  --color-3: #d0d0d0;
  --color-4: #333;
  --color-5: #2b2b2b;

  --transition-fast: 180ms ease-in-out;
}
