@import '../../assets/styles/mixins';

.message {
  @include flexBox;
  margin: 0 -4px;

  i {
    margin: 0 4px;
  }

  span {
    margin: 0 4px;
    font-size: 14px;
  }

  &-error {
    i {
      color: var(--color-error);
    }
  }
  &-warning,
  &-info {
    i {
      color: var(--color-warning);
    }
  }
  &-success {
    i {
      color: var(--color-success);
    }
  }
}
